body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
  background-color: #333;
  width: 100%;
  height: 60px;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

main {
  margin-top: 100px; /* Adjusted to ensure main content starts after the fixed header */
  padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navigation {
    margin-top: 20px;
}

.navigation a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.navigation a:hover {
    background-color: #e0e0e0;
}

/* Rounded breadcrumb styles */
.rounded-breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-decoration: none;
  }
  
  .rounded-breadcrumbs li {
    margin: 0 8px 0 0;
    display: inline-block;
    text-decoration: none;
  }
  
  .rounded-breadcrumbs li a, 
  .rounded-breadcrumbs li a:link, 
  .rounded-breadcrumbs li a:visited {
    padding: 5px 15px;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #333;
    border-radius: 5px; /* Adjust the border-radius to make the breadcrumbs more or less rounded */
    position: relative;
    text-decoration: none;
    border: 2px solid #333;

  }
  
  .rounded-breadcrumbs li a:before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
    border: 2px solid white;
    right: -7px;
    text-decoration: none;
  }
  
  .rounded-breadcrumbs li a:hover, 
  .rounded-breadcrumbs li:last-of-type a {
    background: white;
    color:#333;
    border: 2px solid #333;
  }
  
  .rounded-breadcrumbs li a:hover:before, 
  .rounded-breadcrumbs li:last-of-type a:before {
    background: #333;
    border: 2px solid white;
  }

  h3 {
    padding:15px;
  }

  .predictions {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.upload-button {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #555;
}
  